* {
    margin: 0px;
  padding: 0px;
  text-decoration: none;
  text-align: left;
}

.App {

}


.over {
width: 100%;
height: 150px;
background-color: #75BEE5;

}

.header {
padding-top: 100px;
margin-left: 100px;
}

.form{
margin-left: 100px;

}
